@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html, body {
    background-image: url('../Images/Background.jpeg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

ul {
    color: white;
}

.menu {
    position: absolute;
    top: 0;
    width: 40%;
    left: 30%;
    margin: 0px;
    padding: 0px;
}

    .menu ul {
        border-style: none double double double;
        border-width: 0px 3px 3px 3px;
        border-color: #CCAC00;
        border-radius: 0px 0px 10px 10px;
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

        .menu ul li {
            display: inline-block;
            margin: 0px;
            width: 40%;
            cursor: pointer;
        }

            .menu ul li a {
                display: inline-block;
                color: white;
                width: 100%;
                text-align: center;
                padding: 15px 0px;
                text-decoration: none;
                transition: .3s;
            }

                .menu ul li a.active {
                    background-color: white;
                    color: #876300;
                }

    .menu a:hover {
        background-color: #CCAC00;
        color: white;
    }

    .menu a:active {
        background-color: #CCAC00;
        color: white;
    }

.profilePicture {
    padding: 0px;
    background-color: #333;
    position: absolute;
    top: 0px;
    right: 10%;
    width: 7.5%;
    height: 10%;
    border-style: none double double double;
    border-width: 0px 0px 3px 3px;
    border-color: #CCAC00;
    border-radius: 0px 0px 0px 10px;
    margin: 0px;
}

    .profilePicture a {
        position: absolute;
        margin: 0px;
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: .3s;
        color: white;
        text-decoration: none;
        text-align: center;
    }

        .profilePicture a img {
            width: 60%;
            height: 90%;
        }

.login {
    padding: 0px;
    background-color: #333;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 10%;
    border-style: none double double double;
    border-width: 0px 3px 3px 3px;
    border-color: #CCAC00;
    border-radius: 0px 0px 0px 0px;
    margin: 0px;
}

    .login ul {
        position: absolute;
        font-size: 14px;
        height: 100%;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 0px 0px 0px 0px;
        margin: 0px;
        padding: 0px;
        right: 0px;
        font-family: 'Lato', sans-serif;
        
    }

        .login ul li {
            display: block;
            width: 100%;
            height: 50%;
            cursor: pointer;
            text-align: center;
            overflow: hidden;
        }

            .login ul li a {
                display: block;
                padding: 7.5px 0px;
                transition: .3s;
                color: white;
                text-decoration: none;
                text-align: center;
            }

            .login ul li button {
                display: block;
                transition: .3s;
                padding: 7.5px 0px;
                width: 100%;
                background-color: #333;
                border: none;
                color: white;
                text-decoration: none;
                text-align: center;
            }

    .login a:hover {
        background-color: #CCAC00;
        color: white;
    }

    .login button:hover {
        background-color: white;
        color: white;
    }

.header {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 15%;
    width: 90%;
    background-color: #CCAC00;
    border-bottom: 10px solid black;
}

.content {
    position: absolute;
    top: 30%;
    left: 5%;
    height: 70%;
    width: 90%;
    background-color: #CCAC00;
}



