@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html, body {
    background-image: url('../Images/Background.jpeg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
ul{
    color: white;
}

.menu {
    position: absolute;
    top: 0;
    width: 40%;
    left: 30%;
    margin: 0px;
    padding: 0px;
}

    .menu ul {
        border-style: none double double double;
        border-width: 0px 3px 3px 3px;
        border-color: #CCAC00;
        border-radius: 0px 0px 10px 10px;
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

.menu ul li {
    display: inline-block;
    margin: 0px;
    width: 40%;
    cursor: pointer;
}

    .menu ul li a {
        display: inline-block;
        color: white;
        width: 100%;
        text-align: center;
        padding: 15px 0px;
        text-decoration: none;
        transition: .3s;
    }

        .menu ul li a.active {
            background-color: white;
            color: #876300;
        }

    .menu a:hover {
        background-color: #CCAC00;
        color: white;
    }
    .menu a:active {
        background-color: #CCAC00;
        color: white;
    }

.profilePicture {
    padding: 0px;
    background-color: #333;
    position: absolute;
    top: 0px;
    right: 10%;
    width: 7.5%;
    height: 10%;
    border-style: none double double double;
    border-width: 0px 0px 3px 3px;
    border-color: #CCAC00;
    border-radius: 0px 0px 0px 10px;
    margin: 0px;
}

    .profilePicture a {
        position: absolute;
        margin: 0px;
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        transition: .3s;
        color: white;
        text-decoration: none;
        text-align: center;
    }
    .profilePicture a img {
        border-radius: 50%;
        width: 60%;
        height: 90%;
    }

.login {
    padding: 0px;
    background-color: #333;
    position: absolute;
    top: 0px;
    right: 0px;
    
    width: 10%;
    height: 10%;
    border-style: none double double double;
    border-width: 0px 3px 3px 3px;
    border-color: #CCAC00;
    border-radius: 0px 0px 0px 0px;
    margin: 0px;
}
    .login ul {
        position: absolute;
        font-size: 14px;
        height: 100%;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 0px 0px 0px 0px;
        margin: 0px;
        padding: 0px;
        right: 0px;
        font-family: 'Lato', sans-serif;
        
    }

    .login ul li {
        display: block;
        width: 100%;
        height: 50%;
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        
    }
        .login ul li a {
            display: block;
            padding: 7.5px 0px;
            transition: .3s;
            color: white;
            text-decoration: none;
            text-align: center;
        }
        .login ul li button {
            display: block;
            transition: .3s;
            padding: 7.5px 0px;
            width: 100%;
            background-color: #333;
            border: none;
            color: white;
            text-decoration: none;
            text-align: center;
        }

    .login a:hover {
        background-color: #CCAC00;
        color: white;
    }
    .login button:hover {
        background-color: #CCAC00;
        color: white;
    }


.search_bar {
    overflow: hidden;
    height: 50px;
    width: 100%;
    border-bottom: 5px solid #302000;
    margin: 0px;
    position: relative;
    background-color: #333;
}

    .search_bar ul {
        margin: 0px;
        width: 100%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        list-style-type: none;
        float: left;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Lato', sans-serif;
    }

        .search_bar ul li {
            color: white;
            display: inline;
            margin: 0px;
            padding: 0px .5%;
            font-family: "Lato" sans-serif;
            font-size: 16px;
        }

            .search_bar ul li input {
                border-radius: 5px;
                padding: 0px 20px 0px 20px;
                color: black;
            }

::placeholder {
    color: #ddd;
    opacity: 1; /* Firefox */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ddd;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ddd;
    font-style: italic;
}

.search_bar ul li button {
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    background-color: #CCAC00;
    border: 2px solid #876300;
    color: white;
    cursor: pointer;
    transition: .3s;
}



#more_results {
    visibility: hidden;
}

#less_results {
    visibility: hidden;
}

.search_bar ul li button:hover {
    background-color: #876300;
}


.search_bar input[type=text] {
    border: 1px solid #ccc;
}

.tabs-panel {
    position: fixed;
    top: 15%;
    width: 100%;
    height: auto;
    margin: 0px;
}

.tab {
    overflow: hidden;
    border: none;
}

    .tab button {
        background-color: #a38d1c;
        float: left;
        border-top: 1px #a38d1c solid;
        border-left: 1px #a38d1c solid;
        border-right: 1px #a38d1c solid;
        border-bottom: 1px solid #a38d1c;
        outline: none;
        color: white;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        font-family: 'Lato', sans-serif;
        border-radius: 10px 10px 0 0;
    }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            color: #a38d1c;
            background-color: white;
            border-top: 1px #a38d1c solid;
            border-left: 1px #a38d1c solid;
            border-right: 1px #a38d1c solid;
        }

.tabcontent {
    display: none;
    border: 1px solid white;
    border-top: none;
    background-color: #876300;
    border-radius: 0 10px 10px 10px;
    animation: fadeEffect 0.5s;
    width: 100%;
}

#rss_feed1 {
    position: relative;
    overflow: auto;
    height: 500px;
}

#rss_feed2 {
    position: relative;
    overflow: auto;
    height: 525px;
    width: 100%;
    background-color: none;
}

#defaultSearchFeed {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

    #defaultSearchFeed img {
        width: 250px;
        height: 100px;
        border: 2px white;
        border-radius: 5px;
    }

#filters {
    position: relative;
    height: 75px;
}

    #filters ul {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        top: 50%;
        left: 50%;
        margin-right: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        text-align: center;
        border-bottom: 5px double #CCAC00;
        border-top: 5px double #CCAC00;
        background-color: #333;
        font-size: 12px;
    }

        #filters ul li {
            padding: 0px;
            display: inline-block;
            margin: 10px 1%;
            font-family: 'Lato', sans-serif;
        }

            #filters ul li button {
                padding: 5px 70px 5px 70px;
                border-radius: 5px;
                background-color: #CCAC00;
                border: 2px solid #876300;
                color: white;
                cursor: pointer;
                transition: .3s;
                font-size: 20px;
            }

                #filters ul li button:hover {
                    background-color: #876300;
                }

    #filters .active2 {
        background-color: #876300;
    }


.article_img {
    position: relative;
    float: left;
    display: block;
    width: 48%;
    height: 40%;
    border: 2px solid black;
    font-family: 'Lato', sans-serif;
    margin: .5% .25% 1% .25%;
    text-align: center;
}

    .article_img:hover {
        border: 2px solid white;
    }

    .article_img a {
        text-decoration: none;
        color: white;
    }

    .article_img #thumbnail {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 35%;
        height: 65%;
    }

    .article_img #headline {
        text-align: left;
        margin: 0px;
        width: 90%;
        height: 25%;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.3s;
    }

        .article_img #headline:hover {
            background-color: white;
            color: #876300;
            width: 100%;
        }

    .article_img #pin {
        width: 15px;
        height: 15px;
        background: url("../Images/Pin.jpg") no-repeat center center;
        background-size: cover;
        border-radius: 50%;
        border: 1px solid #876300;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5%;
    }

    .article_img #phone_icon {
        width: 15px;
        height: 15px;
        background: url('../Images/phone_icon.png') no-repeat center center;
        background-size: cover;
        border-radius: 50%;
        border: 1px solid #876300;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 12%;
    }

    .article_img #rsstitle {
        position: absolute;
        right: 0px;
        height: 100%;
        width: 65%;
        display: block;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        color: white;
        font-family: 'Lato', sans-serif;
        background-color: #302000;
    }

    .article_img #AreYouGoing {
        position: absolute;
        margin: 0px;
        width: 35%;
        height: 50%;
        background-color: #CCAC00;
        bottom: 0px;
        right: 0px;
        color: white;
        border-top: 2px solid #876300;
        border-left: 2px solid #876300;
        list-style-type: none;
        padding: 0px;
    }

        .article_img #AreYouGoing ul {
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'Lato', sans-serif;
        }

        .article_img #AreYouGoing li {
            padding: 2.5px 0px;
            display: block;
            font-size: 12px;
            text-align: center;
        }

    .article_img #barInfo {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin: 0px;
        width: 35%;
        height: 35%;
        background-color: #CCAC00;
        color: white;
        border-top: 2px solid #876300;
        border-right: 2px solid #876300;
        list-style-type: none;
        padding: 0px;
    }

        .article_img #barInfo ul {
            margin: 0px;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'Lato', sans-serif;
        }

        .article_img #barInfo li {
            padding: 2.5px 15%;
            display: block;
            font-size: 12px;
            text-align: left;
        }

    .article_img:hover {
        transition: .3s all;
    }

    .article_img p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .article_img #address {
        position: absolute;
        width: 65%;
        height: 20px;
        top: 25%;
        left: 0px;
        display: block;
        font-size: 12px;
        background-color: #CCAC00;
        border-top: 2px solid #876300;
        border-bottom: 2px solid #876300;
        transition: 0.3s;
    }

        .article_img #address:hover {
            background-color: #876300;
        }

    .article_img #addressSpan {
        left: 12%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 70%;
    }


    .article_img #phone:hover {
        background-color: #876300;
        border: 2px solid #876300;
    }

    .article_img #phone {
        position: absolute;
        top: 25%;
        display: block;
        right: 0px;
        font-size: 12px;
        text-align: left;
        background-color: #CCAC00;
        width: 35%;
        height: 20px;
        border-top: 2px solid #876300;
        border-bottom: 2px solid #876300;
        border-left: 2px solid #876300;
        border-right: 2px solid #CCAC00;
        overflow: hidden;
        transition: .3s;
    }

#loading {
    display: none;
    position: relative;
    transition: 0.3s;
    background-color: #fff;
    height: 500px;
    width: 100%;
    background-color: #876300;
}


#loading-image {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 200px;
    height: 150px;
    border-radius: 50%;
}




@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect2 {
    from {
        opacity: 1;
    }

    to {
        opacity: .8;
    }
}
