@{
    ViewData["Title"] = "Home Page";
}

<div class="tabs-panel">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Near_You')" id="defaultOpen">Near You</button>
        <button class="tablinks" onclick="openTab(event, 'Search_Tab')">Find The Party</button>
    </div>

    <div id="Near_You" class="tabcontent">
        <div id="filters">
            <ul>
                <li><button class="btn_filter active2" id="defaultOpen2" value="bars,danceclubs">All</button></li>
                <li><button class="btn_filter" value="bars">Bars</button></li>
                <li><button class="btn_filter" value="danceclubs">Clubs</button></li>
            </ul>
        </div>
        <div class="loading">
            <img id="loading-image" src="~/Images/Loading_Gif.webp" alt="Loading..." />
        </div>
        <div id="rss_feed1">
        </div>
    </div>
    <div id="Search_Tab" class="tabcontent">
        <div class="search_bar">
            <ul>
                <li>Keyword:</li>
                <li><input type="text" id="termSearchBar" name="termSearchBar" placeholder="Search Keyword"></li>
                <li>City/State:</li>
                <li><input type="text" id="citySearchBar" name="citySearchBar" placeholder="Search City/State" required></li>
                <li><button type="button" id="search_city_term">Search</button></li>
                <li><button type="button" id="less_results" onclick="lessResults()"><-</button></li>
                <li><button type="button" id="more_results" onclick="moreResults()">-></button></li>
            </ul>
        </div>
        <div class="loading">
            <img id="loading-image" src="~/Images/Loading_Gif.webp" alt="Loading..." />
        </div>
        <div id="rss_feed2">
            <p id="defaultSearchFeed"><img src="~/Images/BarBuddyLogoMenu.png" />Pick A Place to Search!</p>
        </div>
    </div>
</div>
@section css{ 
    <link rel="stylesheet" href="~/css/site.css" />
}
@section Scripts {
<script src="~/js/site.js" asp-append-version="true"></script>
}

